<!DOCTYPE HTML><!--html5的写法-->
<html>
<head>
		
		<title> 展示页面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--设置编码为utf-8-->
		
		 <meta name="keywords" content="blog,article,DBA"/><!--被用来搜索的关键字-->
		 <meta name="description" content="数据库知识搜索"/>
		 <meta http-equiv="Windows-Tatget" content="_top"><!--你的网页将不会被拿到分针中去，会占领整个网页-->
		 <meta http-equiv="Pragma" content="no-cache"><!--设置无缓存-->
		 <meta http-equiv="expires" content="Wed, 23 Aug 2026 12:40:27 UTC" /><!--设置网页过期时间-->
		 
		 <meta http-equiv="Page-Enter" content="revealTrans(Transition=23,Duration=1.000)">
		 <meta http-equiv="Page-Exit" content="revealTrans(Transition=23,Duration=1.000)"><!--页面进入退出是的特效-->
		 
		 <link rel="stylesheet" type="text/css" href="/static/read.css"/>
		
		 
		 
	
</head>


 

<body  id='bg' >  


 
 
		<div id='content' >
		
	 
		  <textarea  id='replace' name="message" readonly  >{{display}}</textarea>
	
		</div>






</body>

<script src="/static/zs.js">//包含js文件  </script>
</html>
